<footer>
    <div class="footer_title">
      <a href="/"><img src="/images/logo.svg" alt="Logo" class="footer_img"></a>
      <div>
        <a class="title_logo_link" href="/"><h1 class="footer_logo">O'Coffee</h1></a>
    </div>

    <ul class="footer_list">
      <a href="">
        <li>&copy; Julien Paulus O'Coffee 2024</li>
      </a>
      <a href="/about">
        <li>A propos</li>
      </a>
      <a href="/contact">
        <li>Contact</li>
      </a>
    </ul>
  </footer>
</main>
</body>
<!-- Mettre dans le fichier index.js dans "integrations" qui est le dossier static spécifié dans app.js pour que ça marche. -->
<script src="/index.js"></script> 
<script
src="https://kit.fontawesome.com/2018e2ad13.js"
crossorigin="anonymous"
></script>
</html>





      
